# Environment
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Data Folders (Keep folder structure in Git via .gitkeep)
data/raw/*
!data/raw/.gitkeep
data/cleaned/*
!data/cleaned/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Database
*.db
*.sqlite3
test_hospital.db

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.ipynb_checkpoints/
